src/main/resources/org.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="parametri">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="parametro">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="maggiore" type="xs:decimal" />
                            <xs:element minOccurs="0" maxOccurs="1" name="minore" type="xs:decimal" />
                        </xs:sequence>
                        <xs:attribute name="nome" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="1" maxOccurs="1" name="risultato" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>